@import '../../styles/mixins';
@import '../../styles/variables';

.options{
    @include centralize();
    gap: 32px;
    input{
        display: none;
    }
}
.option-step{
    @include centralize($direction: column);
    gap: 8px;
    .option-button{
        cursor: pointer;
        width: 9.6rem;
        height: 9.6rem;
        @include centralize();
        background-color: $purple-color;
        // background-color: #642b48b7;
        // background-colorgba(100, 43, 72, 0.515)ple-color;
        position: relative;
        border-radius: 50%;
    }
    .option-text{
        font-size: 1.6rem;
        font-weight: 500;
    }
    span{
        z-index: 2;
        color: $gray-color;
        font-weight: 600;
        @include centralize();
        font-size: 3.6rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .option-selected{
        // background-color: $purple-color;
        background-color: $yellow-color;
    }
}