@import "../../styles/variables";
@import "../../styles/mixins";

.step-container {
    width: 100%;
    position: relative;
    height: 100vh;
    padding: 0 $padding-desktop;
    @include centralize($justify: space-between);
    background-color: $gray-color;
    .step-content {
        span {
            text-transform: uppercase;
        }
        .step-transition{
            gap: 32px;
            @include centralize($align: flex-start, $direction: column);
            margin-bottom: 32px;
        }
    }
    .title-step {
        color: $purple-color;
        @include title_text-page(
            $width: 59rem,
            $size: 6.4rem,
            $line-height: 6.4rem
        );
    }
    .text {
        font-size: 2.4rem;
        @include centralize($justify: flex-start);
        gap: 16px;
        span{
            font-size: 1.2rem;
            font-weight: bolder;
            color: $yellow-color;
        }
    }
    .buttons {
        @include centralize($justify: flex-start);
        gap: 32px;
        a, div {
            .button {
                @include centralize;
                width: 200px;
                text-align: center;
            }
            &:last-child {
                .button {
                    background-color: $purple-color;
                }
            }
        }
    }
    .step-bg {
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0;
        top: 0;
    }

    .close-icon{
        margin: 32px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 48px;
        @include centralize();
        height: 48px;
        background-color: $purple-color;
        border-radius: 50px;
        transition: $transition;
        &:hover{
            transition: $transition;
            transform: rotate(45deg);
        }
        a{
            line-height: 0;
        }
    }

    .custom-acai {
        z-index: 2;
        height: 600px;
        position: relative;
        @include centralize();
        img {
            right: 0;
            top: 0;
            height: 100%;
            position: absolute;
            transition: 0.2s;
        }
        @include acai_layers();
    }
    .render-element {
        animation: render 0.2s ease-in-out;
        transition: 0.2s;
    }
    .progress-bar {
        position: absolute;
        @include centralize();
        gap: 16px;
        width: 100vw;
        height: 10px;
        bottom: 32px;
        left: 0;
        z-index: 10;
        .smile-progress{
            width: 50px;
            position: absolute;
        }
        .progress {
            @include centralize();
            font-size: 12px;
            font-weight: bold;
            width: 48px;
            height: 14px;
            line-height: 14px;
            background-color: $yellow-color;
            color: $gray-color;
            border-radius: 10px;
            &-active {
                background-color: $purple-color;
            }
        }
    }
}

.input_name-client{
    height: 48px;
    width: 400px;
    background-color: $yellow-color;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 16px;
    font-size: 24px;
    font-weight: bold;
    &::placeholder{
        font-size: 18px;
        color: $gray-color;
        font-weight: 400;
    }
    &:disabled{
        opacity: 40%;
    }
}

.disable-input_name-client{
    @include centralize();
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
}

.price_container {
    position: absolute;
    bottom: 0;
    left: 0;
    @include centralize();
    width: calc(20rem - 30px);
    height: 12rem;
    gap: 8px;
    .price-background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20rem;
    }

    .price-symbol {
        font-weight: 700;
        font-size: 7.2rem;
        color: $yellow-color;
        z-index: 3;
    }

    .price-value {
        z-index: 3;
        p {
            font-weight: 600;
            font-size: 3.2rem;
            color: $gray-color;
            line-height: 32px;
        }
        span {
            color: $yellow-color;
            font-weight: 600;
            font-size: 1.6rem;
        }
    }
}

@keyframes render {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(15px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}
