@import "./mixins";
@import "./variables";

.container-pages {
    width: 100%;
    position: relative;
    height: 100vh;
    padding: 0 $padding-desktop;
    @include centralize($justify: space-between);
    background-color: $gray-color;
    @media screen {
        @media (min-width: 1650px) {
            padding: 0 33.2rem;
        }
    }
    @media screen {
        @media (max-width: 1189px) {
            padding: 0 10rem;
        }
    }
    .acai-model {
        z-index: 2;
        height: 600px;
    }
    > a {
        margin: 32px;
        position: absolute;
        top: 0;
        right: 0;
        .close-icon {
            cursor: pointer;
            z-index: 2;
            width: 48px;
            @include centralize();
            height: 48px;
            background-color: $purple-color;
            border-radius: 50px;
            transition: $transition;
            &:hover {
                transition: $transition;
                transform: rotate(45deg);
            }
            a {
                line-height: 0;
            }
        }
    }

    .step-bg {
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0;
        top: 0;
    }
    .page-container {
        height: 100%;
        @include centralize(
            $direction: column,
            $align: flex-start,
            $justify: center
        );
        gap: 32px;
        .title {
            z-index: 10;
            line-height: 36px;
            @include centralize();
            font-size: 36px;
            span {
                margin-left: 6px;
                font-size: 12px;
            }
            &-finish {
                @include title_text-page(
                    $width: 59rem,
                    $size: 6.4rem,
                    $line-height: 6.4rem
                );
            }
        }
        .cards-container {
            overflow-y: auto;
            max-height: 316px;
            border-radius: 10px;
            width: 530px;
            // margin: 16px 0 32px 0;
            &-null{
                // margin: 32px 0;
                height: 150px;
            }
            >p{
                height: 100%;
                @include centralize($justify: flex-start);
                font-size: 2.4rem;
                font-weight: 600;
                width: 250px;
            }
            .card {
                &-custom {
                    &::before {
                        content: "CUSTOM";
                        color: $purple-color;
                        font-weight: bold;
                        position: absolute;
                        right: 16px;
                        top: 0;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        padding-top: 10px;
                        padding-bottom: 8px;
                        background-color: $yellow-color;
                        writing-mode: vertical-lr;
                        z-index: 5;
                    }
                }
                position: relative;
                width: 475px;
                background-color: $purple-color;
                border-radius: 10px;
                height: 150px;
                padding: 18px;
                z-index: 4;
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0px;
                }
                @include centralize($justify: space-between, $align: flex-end);
                &_image {
                    @include centralize();
                    border-radius: 5px;
                    height: 100%;
                    width: 90px;
                    background-color: $yellow-color;
                    position: relative;
                    img {
                        height: 90%;
                        position: absolute;
                    }
                    @include acai_layers();
                    .cup-acai {
                        height: 90%;
                    }
                }
                &_content {
                    line-height: 20px;
                    height: 100%;
                    width: 200px;
                    @include centralize(
                        $direction: column,
                        $justify: space-between,
                        $align: flex-start
                    );
                    .card_title {
                        color: $yellow-color;
                        font-size: 20px;
                    }
                    .card_text {
                        color: $gray-color;
                        font-size: 14px;
                    }
                    .card_price {
                        font-size: 36px;
                        color: $yellow-color;
                        line-height: 36px;
                    }
                }
                &_input {
                    width: 110px;
                    height: 35px;
                    background-color: $gray-color;
                    border-radius: 50px;
                    @include centralize($justify: space-between);
                    color: $purple-color;
                    font-weight: bold;
                    font-size: 24px;
                    span {
                        cursor: pointer;
                        width: 36px;
                        border-right: 3px solid $purple-color;
                        @include centralize();
                        &:last-child {
                            border-left: 3px solid $purple-color;
                            border-right: none;
                        }
                    }
                }
            }
            &::-webkit-scrollbar {
                width: 9px;
            }

            &::-webkit-scrollbar-track {
                background: $yellow-color;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $purple-color;
                border-radius: 20px;
            }
        }
        .buttons {
            @include centralize();
            gap: 16px;
            > a {
                &:not(:first-child) {
                    .button {
                        background-color: $purple-color;
                    }
                }
                .button {
                    width: 200px;
                    width: 200px;
                    padding: 16px 32px;
                    text-align: center;
                }
            }
        }
        .div-button {
            .button {
                width: 200px;
                text-align: center;
                padding: 16px 32px;
                background-color: $purple-color;
            }
        }
    }
}
