@import "./mixins";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: $purple-color;
    user-select: none;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.title,
.text {
    color: $purple-color;
}
.page {
    position: relative;
    @include centralize($direction: column);
    width: 100vw;
    min-height: 100vh;
    padding: 0 $padding-desktop;
    background-color: $gray-color;
    @media screen {
        @media (min-width: 1650px) {
            padding: 0 33.2rem;
        }
    }
    @media screen {
        @media (max-width: 1189px) {
            padding: 0 10rem;
        }
    }
}

.home {
    @include centralize($justify: space-between);
    width: 100%;
    height: 100vh;
}

.title-page {
    @include title_text-page($width: 50rem);
}

.text {
    @include title_text-page(500, 2.4rem, 53rem, 30px);
}

.content {
    @include centralize(center, flex-start, column);
    gap: 32px;
    z-index: 3;
}

.button {
    position: relative;
    font-size: 2.4rem;
    background-color: $yellow-color;
    font-weight: bold;
    padding: 16px 90px;
    color: $gray-color;
    border-radius: 50px;
    z-index: 5;
    img {
        position: absolute;
        width: 40%;
        bottom: 0;
        right: 0;
        transform: translateY(95%) translateX(-40%);
    }
    &:hover {
        cursor: pointer;
    }
    &:active {
        cursor: grabbing;
    }
    &-clicked {
        animation: button 0.2s ease-in-out;
    }
}

.background {
    position: absolute;
    // height: 100%;
    right: 0;
    z-index: 0;
}

.acai-model {
    z-index: 2;
    height: 600px;
    // width: 32rem;
}

.open_cart {
    transition: $transition;
    transform: translateX(150px);
    @include centralize();
    border-radius: 50px;
    cursor: pointer;
    z-index: 5;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: $purple-color;
    width: 72px;
    height: 72px;
    margin: 16px 32px;
    border: 3px solid $gray-color;
    &-icon {
        transition: $transition;
    }
    &:hover {
        .open_cart-icon {
            transition: $transition;
            animation: cart 0.2s ease-in-out;
        }
    }
    &-icon-shake {
        transition: $transition;
        animation: cart 0.2s ease-in-out;
    }
    &-show {
        transition: $transition;
        transform: translateX(0);
    }
    .amount_cart {
        top: 0;
        right: 0;
        position: absolute;
        @include centralize;
        font-weight: bold;
        font-size: 12px;
        background-color: $yellow-color;
        color: $purple-color;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

.footer {
    width: 100vw;
    @include centralize();
    padding-top: 10%;
    position: relative;
    gap: 64px;
    a {
        z-index: 2;
        .icon {
            cursor: pointer;
            transition: 0.4s;
            &:hover {
                transition: 0.4s;
                transform: translateY(-15px);
            }
        }
    }
    .bg-footer {
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
}

@keyframes button {
    0% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 2px;
    }
    100% {
        letter-spacing: 0px;
    }
}

@keyframes cart {
    0% {
        transform: rotate(0px);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
