@import "../../styles/variables";
@import "../../styles/mixins";

.load-container {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $purple-color;
    @include centralize($direction: column);
    gap: 12px;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
    }
    .load-box {
        width: 125px;
        height: 160px;
        position: relative;
    }
    .bg-load {
        background-color: $yellow-color;
        z-index: 1;
        transition: 0.5s;
        animation: 1.7s acai linear;
        position: absolute;
        bottom: 3px;
        left: 5px;
        height: 95%;
        width: 90%;
    }
    .counter-load {
        .counter-number {
            color: $gray-color;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .load-message {
        animation: 1s text ease-in-out infinite reverse;
        transition: 0.3s;
        color: $gray-color;
        font-size: 24px;
        text-transform: capitalize !important;
    }
}

@keyframes text {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes acai {
    0% {
        height: 0;
    }
    100% {
        height: 95%;
    }
}
