@import '../../styles/mixins';
@import '../../styles/variables';

.products{
    width: 100%;
    margin-bottom: 96px;
    @include centralize($direction: column);
    gap: 64px;
    .title-page{
        width: 100%;
        @include centralize($justify: flex-start);
        font-size: 3.6rem;
        line-height: 50px;
    }
    &_row{
        width: 100%;
        @include centralize($justify: space-between);
    }
    &_card{
        width: 50px;
        height: 50px;
        background-color: red;
    }
}
